.logo {
	width: 100px;
	margin-top: 15px;
}
hr {
	background: #7A7A6D;
	border: 0;
	height: .4em;
}

body {
	font: 300 1.5em 'Raleway', sans-serif;
	color: #D46868;
}

a.link-text {
	text-decoration: none;
	color: #545454;
}

@media (max-width: 991px) {
	h1,
	h2,
	h4 {
		text-align: center;
	}
	img {
		margin: 0 auto;
		width:50%;
	}
}

@media (min-width:992px) {
	.col-md-4 img{
		height:200px;
	}
}